@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html,
body{
    background-image: url(../assets/vision.jpg);
    background-size: 120% 100vh ;
    background-repeat: no-repeat;
    margin: 0;
    padding:0;
    font-family: 'Lato', sans-serif;
}

h2{
    text-align: center;
}
.salida{
    text-transform: uppercase;
    text-align: center;
    line-height: 17rem;
    font-weight: bold;
    border: 1px solid black;
    width: 30%;
    margin: auto;
    margin-bottom: 1rem;
    height: 8rem;
    border-radius: 45px;
    border-width: 5px;
    background-color: white;
}

.color-div{
    text-align: center;
}

input{
    width: 100%;
}


@media screen  and (max-width:320px)  {
    .salida{
        width: 90%;
        height: 18rem;
    }
    .color-div{
        width: 50%;
        margin: auto;
    }
    
}

@media screen  and (min-width:320px)  {
    .salida{
        width: 90%;
        height: 18rem;
        line-height: 32rem;
    }

    .color-div{
        width: 50%;
        margin: auto;
    }
}

@media screen  and (min-width:768px)  {

    .color-div{
        width: 25%;
        margin: auto;
    }
}

@media screen  and (min-width:1000px)  {

    .salida{
        width: 50%;
        height: 32rem;
    }

    .color-div{
        width: 25%;
        margin: auto;
    }
}

